<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.angel.black.baframework">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme">-->

        <!--&lt;!&ndash;<activity android:name="com.angel.black.sample.SampleActivity" >&ndash;&gt;-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->
                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;</activity>&ndash;&gt;-->

        <!--<activity android:name="com.angel.black.baframework.media.image.BaseImagePickActivityy" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

    <!--</application>-->

</manifest>
